@import "@fontsource/fragment-mono/400.css";
@import "@fontsource/fragment-mono/400-italic.css";

@font-face {
  font-family: "General Sans";
  src: url("../fonts/general-sans/GeneralSans-Variable.woff2") format("woff2");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/general-sans/GeneralSans-VariableItalic.woff2") format("woff2");
  font-weight: 200 700;
  font-style: italic;
  font-display: swap;
}
